@use 'sass:map';
@use '../base/_variables' as palette;

.color-and-type, .form-elements {
  border: 2px solid red;
}
.form-elements {
  border: 2px solid rgb(38, 0, 255);
}


.color-and-type {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 150px;
  margin: auto;
}

.color-palette {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin: 0;
}

.color-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  p {
    margin-left: 40px;
    font-size: 19px;
  }
}

.color-box {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}

@each $key, $value in palette.$colors {
  .#{$key} {
    background-color: $value;
  }
}

.typography{
  font-size: 14px;
  margin: 0;
  padding: 0;
  max-width: 440px;
  display: flex;
  flex-direction: column;
}

.typography-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}

.typography-title {
  text-align: right;
  min-width: 50px;
  color: map.get(palette.$colors, "dark-shade-25");
  margin: 0 30px 0 0;
}

.typography-text {
  text-align: left;
  margin: 0;
}
