body {
  display: flex;
  justify-content: space-between;
}

.colors {
  font-size: 19px;
  display: flex;
  flex-direction: column;

  border: 5px yellow solid;

  padding: 50px;
  margin: 145px 0 0 150px;
}

.block-color {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.color-square {
  height: 70px;
  width: 70px;
  border-radius: 6px;
}

.block-color > p {
  margin: 0 0 0 40px;
}

.dark-shade-100 {
  background-color: var(--dark-shade-100);
}

.dark-shade-75 {
  background-color: var(--dark-shade-75);
}

.dark-shade-50 {
  background-color: var(--dark-shade-50);
}

.dark-shade-25 {
  background-color: var(--dark-shade-25);
}

.dark-shade-5 {
  background-color: var(--dark-shade-5);
}

.purple {
  background-color: var(--purple);
}

.green {
  background-color: var(--green);
}

.types {
  font-size: 14px;
  margin: 0 auto;
  max-width: 440px;
  display: flex;
  flex-direction: column;

  border: 5px blue solid;
}

.block-type {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}

.title {
  text-align: right;
  min-width: 50px;
  color: var(--dark-shade-25);
  margin-right: 30px;

  border: 3px solid green;
}

.text {
  text-align: left;
}