.block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 150px;
  margin: auto;
  max-width: 1920px;
  min-width: 320px;
}

.colors {
  font-size: 19px;
  display: flex;
  flex-direction: column;

  /* border: 5px yellow solid; */

  padding: 0 50px;
  margin: 0;
}

.block-color {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.color-square {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}

.block-color > p {
  margin-left: 40px;
  font-size: 19px;
}

.dark-shade-100 {
  background-color: var(--dark-shade-100);
}

.dark-shade-75 {
  background-color: var(--dark-shade-75);
}

.dark-shade-50 {
  background-color: var(--dark-shade-50);
}

.dark-shade-25 {
  background-color: var(--dark-shade-25);
}

.dark-shade-5 {
  background-color: var(--dark-shade-5);
}

.purple {
  background-color: var(--purple);
}

.green {
  background-color: var(--green);
}

.types {
  font-size: 14px;
  margin: 0;
  padding: 0;
  max-width: 440px;
  display: flex;
  flex-direction: column;

  /* border: 5px blue solid; */
}

.block-type {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}

.title {
  text-align: right;
  min-width: 50px;
  color: var(--dark-shade-25);
  margin: 0 30px 0 0;
  

  /* border: 3px solid green; */
}

.text {
  text-align: left;
  margin: 0;
}