mixin selectOption(value, text)
  .dropdown-item(data-value=value)
    span.dropdown-item__text #{text}
    button.dropdown-item__button-minus(type="button") -
    span.dropdown-item__count 0
    button.dropdown-item__button-plus(type="button") +